
            <h3>About</h3>

            <hr />
            <div class="row">
                <div class="col-md-4">
				<h5>За какво е този сайт?</h5>
                   <p> Сайтът е създаден от бивши ученици на гимназията "НПМГ" за бърз и лесен начин на избиране на мелодия, 
				   която да замести ежедневният скучен звънец в училището, като всеки клас има създаден за себе си акаунт, в
				   който учениците от съответната паралека ще имат възможност да влязат и изказват мнение относно това, каква 
				   мелодия желаят да бъде сложена за текущата седмица.</p>
                </div>
				
				<div class="col-md-4">
				<h5>Кой е създал сайта?</h5>
                   <p>Този сайт е проект по ИТ на част от 12'и' клас през учебната 2019-2020 година, като всеки от групата е 
				   бил част от по-малка под-група (Back-end, front-end, т.н.) и е допринесъл до осъществяването на сайта.</p>
                </div>
				
            </div>