
            <h3>Help</h3>
            <hr />
            <div class="row">
                <div class="col-md-4">
				<h5>За да добаивте нова песен към блога:</h5>
                   <p>1. Отивате на главната страница на сайта <a asp-controller="Entry" asp-action="AllEntries">Songs.</a></p>
				   <p>2. За да добавите нова песен към селекцията избирате опцията "Add New".</p>
				   <p>3. В полето въвеждате линк към избрана от вас песен от Spotify.</p>
				   <p>4. Натискате опцията "Submit" за да изпратите заявка.</p>
                </div>
				
				<div class="col-md-4">
				<h5>За да гласувате за песен:</h5>
                   <p>1. Отивате на главната страница на сайта <a asp-controller="Entry" asp-action="AllEntries">Songs.</a></p>
				   <p>2. Изберете опцията "Vote".</p>
                </div>
				
				<div class="col-md-4">
				<h5>В случай че не можете да изберете орпеделена песен:</h5>
                   <p>1. Проверете дали песента която искате да изберете не е банната от администраторите, като можете да проверите <a  asp-controller="Entry" asp-action="AllBlacklistedSongs">тук.</a></p>
				   <p>2. Ако още имате проблеми, моля свържете се с администратор.</p>
                </div>
            </div>
			
